__pycache__/
node_modules/
.next/
out/
.env
.env*.local
.env.development
.env.production
.env.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.lcov
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json
*.sublime-project
*.sublime-workspace
.atom/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
ehthumbs_vista.db